#search-results::-webkit-scrollbar, #collapseExample::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none;
}
#search-results,#collapseExample,body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.card:hover{
background-color: lightpink;
transform:translateX(2px);
transform: scale(1.25);
}
body{
    background-color: lightseagreen;
}
.card{
    transition: all 0.3s ease-in;
}